* {
  box-sizing: border-box;
}

/* added css variables */

:root{
border-radius: 0.2em;
--color-white: #fff;
--space-outside-beige: rgba(242, 239, 226, 0.93);
--another-beige: rgba(184, 178, 166, 0.84);
--heading-and-titles-color: rgb(0,0,0,0.7);
--font-size: 1rem; /*16px*/
--font-family: 'Roboto Mono', monospace;
}

/*colors for background of selected content*/
::selection {
  background-color: var(--another-beige);
  color: var(--space-outside-beige);
 }

/*style body with background image*/
body {
  margin: 0;
  padding: 0;
  font-size: 1rem; /* 16 px */
  line-height: 1.5;
  background-image: url("/starter/images/kaboompics_glass-of-water-magazine-bw-black-and-white-29161.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  }

/*style headers'navbar*/

.navbar {
  display: flex;
  flex-direction: row;
  margin: 0;
  background-color: var(--heading-and-titles-color);
  }


  .navbar h1 {
      width: 25%;
      font-weight: 300;
      color: var(--color-white);
      margin: 1%;
  }

  .navigation {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.6rem; /*25px;*/
  }

/*style element a, removing underline, setting color*/
  .navigation a {
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--font-family);
  }

/*style about me, work and contact me p elements so they would have space between each other*/
.aboutme-nav {
  padding: 2%;
}

 .work-in-nav {
   margin: 2%;
  }
.contact-nav {
  margin: 2%;
}

/*adjusted logo banner div; using it to place avatar div and quote for styling purposes*/ 
.logo-banner {
  margin: 2%;
  margin-bottom: 5%;
  align-items: center;
}

.logo-banner h2 {
  align-items: center;
  color: var(--color-white);
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 1.5%;
  margin-bottom: 1.5%;
  margin-top: 1.5%;
}
img {
  width: 100%;
}

/*style css grid*/

/* container = page-wrapper layout*/

.page-wrapper {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  grid-template-areas:
  "about-me horiseon-solutions horiseon-solutions"
   "about-me future-project-1 future-project-2"
  "contact-me contact-me contact-me"
   ;
}

#about-me {
  grid-area: about-me;
  margin-left: 10%;
}

/* positions paragraph "about me" in center */
.aboutme-heading {
  align-self: center;
  justify-self: center;
}


/*#future-project { - not in use yet!
  grid-area: future-project;
  background-image:;
  background-size: cover;
  background-position: center;
  height: 300px;
}*/

/* used hover feature to hide background picture for styling purposes */
#horiseon-solutions:hover {
  grid-area: horiseon-solutions;
  background-image: url("/starter/images/pexels-horiseon.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;

}

/* adds a bit of box shadow */
#horiseon-solutions:hover {
  box-shadow: 0 0 50px var(--space-outside-beige);
}

/* removes underline from a tag, opacity - makes picture slightly transparent */
 a {
  text-decoration: none;
  opacity: 0.9;
}

#future-project-1 {
  grid-area: future-project-1;
  background-image: url("/starter/images/future-project.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
}

#future-project-1:hover{
  box-shadow: 0 0 50px var(--space-outside-beige);
}

#future-project-2 {
  grid-area: future-project-2;
  background-image: url("/starter/images/future-project-1-1.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
}

#future-project-2:hover{
  box-shadow: 0 0 50px var(--space-outside-beige);
}

#contact-me {
  grid-area: contact-me;
}

/* adjusting text in contact-me grid */
.contact-me-box {
align-self: auto;
justify-self: auto;
margin-left: 2.7%;
}

/*positions sections in grid */
.page-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0.3rem; /*5px;*/
  display: grid;
  align-content: end;
 
}

/* style titles on images */

.work-heading {
  background-color: var(--heading-and-titles-color);
  width: 100%;
  padding: 0.625rem; /*10px;*/
  color: var(--color-white);
  font-family: var(--font-family);
}

.work-heading a {
  text-decoration: none;
  color: var(--color-white);
}


/*removing underline from links in contact me*/
.links-contact-me a {
  text-decoration: none;
  color: var(--color-white);
}

.links-contact-me p {
  display: inline-block;
}

/* makes all h tags in selected color and font */
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
  color: var(--color-white);
  font-family: var(--font-family);
}

/* makes all p tags in selected color and font */
p {
   margin: 0;
  color:#fff;
  font-family: var(--font-family);
}

/* footer style */

  .footer-style a {
    text-decoration: none;
    color: var(--color-white);
  }

  .credits {
    font-size: x-small;
  }

/* added media screen for nice display on phone and tablet, made css grid as flex boxes, changed font sizes on h and p tags */

  @media screen and (max-width: 768px) {
body {
  font-size: 14px;
  background-color: rgb(154, 151, 151);
  background-image: none;
  }
  .navbar {
    display: flex;
    flex-direction: row;
  }

  .navbar h1 {
    font-size: smaller;
  }

.navigation {
  font-size: smaller;
}

  .logo-banner {
    display: flex;  
  flex-wrap: wrap;
    font-size: 10px;
  }

  .logo-banner p {
    display: none;
  }

  .page-wrapper {
    display: flex;
    flex-direction: column;
  }

  #about-me {
    margin: 0;
  }
  }