* {
  box-sizing: border-box;
}

:root{
border-radius: 0.2em;
--color-white: #fff;
--space-outside-beige: rgba(242, 239, 226, 0.93);
--another-beige: rgba(233, 220, 198, 0.611);

--font-size: 16px; 
}
/*colors for background of selected content*/
::selection {
  background-color: var(--another-beige);
  color: var(--space-outside-beige);
 }

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-image: url(/starter/images/kaboompics_glass-of-water-magazine-bw-black-and-white-29161.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  
}

.navbar {
  width: 100vh;
  background-color: transparent;
  margin: 0;
  }

  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    height: 3em;
    padding: 0;
  }

  .navbar ul li {

  }

/*.header {
padding: 20px;
background-color: transparent;
color: #fff;
position: relative;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

.header nav {
padding-top: 15 px;
margin-right: 20px;
float: right;
font-size: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
a {
  color: #fff;
  text-decoration: none;
} */

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  color:#fff;
}

